.bg {
    background-image: url(./image/Section1.png  );
    background-repeat: no-repeat;
    width: 100%;
    height: 820px;
    background-size: cover;
}
.sec4 {
background-image: url(./image/Rectangle\ \(15\).png);
background-repeat: no-repeat;
width: 96%;
margin: auto;
height: 2432px;
}