.bg {
    background-image: url(./image/Section1.png  );
    background-repeat: no-repeat;
    width: 100%;
    height: 820px;
    background-size: cover;
}
.sec4 {
background-image: url(./image/Rectangle\ \(15\).png);
background-repeat: no-repeat;
width: 100%;
background-size: cover;
height: 2432px;
}
.sec5 {
background-image: url(./image/Rectangle\ \(16\).png);
background-repeat: no-repeat;
width: 100%;
background-size: cover;
height: 850px;
}
